/*==========
基本默認值
==========*/

html {
    font-size: 62.5%;
    line-height: 2;
    color: #222;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}
::selection {
    background-color: #b3d4fc;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}

/*========
公共樣式
========*/

.section {
    overflow: hidden;
}
/*========
頁面樣式
========*/

/* nav */
nav {
    position: fixed;
    z-index: 1;
    background-color: rgba(255,255,255,.8);
    height: 60px;
    line-height: 60px;
    width: 100%;
}
nav .brand {
    margin-left: 2rem; 
    display: inline-block;
}
nav ul a {
    display: inline-block;
    padding: 0 1.6rem;
    text-decoration: none;
    color: #222;
}
nav ul a:hover {
    color: #3a90c9;
}
nav ul {
    float: right;
}
nav .hamburger-menu {
    background-color: transparent;
    border: none;
    display: inline-block;
    margin: 1rem 2rem 0 2rem;
    display: none;
    padding-top: 4px;
}
nav .hamburger-menu .icon-bar {
    background-color: #3a90c9;
    display: block;
    height: 4px;
    margin: 0 auto 4px;
    width: 30px;
}

nav button {
    line-height: 38px;
    margin: 10px 20px 10px 0px;
    float: right;
    background-color: #3a90c9;
    border: 1px solid transparent;   
    color: #fff;
}
nav button:hover {
    background-color: #f1f1f1;
    border: 1px solid #3a90c9;
    color: #3a90c9;
}
nav button a{
    text-decoration: none;
    color: inherit;
}
@media only screen and (max-width: 48em){
    nav ul a {
        padding: 0 0.8rem;
    }
    nav ul a:nth-child(4){
        display: none;
    }
}
@media only screen and (max-width: 30em){
    nav .hamburger-menu {
        display: inline-block;
    }
    nav button {
        display: none
    }
    nav ul {
        float: none;
    }
    nav ul::before {
        content: '馬上購買';
        display: block;
        line-height: 40px;
        text-align: center;
        background-color: rgba(255,255,255,.8);
        cursor: pointer;
        font-size: 1.4rem;
    }
    nav ul a {
        padding: 0 0.8rem;
        text-align: center;
        line-height: 40px;
        font-size: 1.4rem;
    }
    nav ul a {
        display: block;
        background-color: rgba(255,255,255,.8);
    }
    nav ul a:nth-child(4){
        display: block;
        background-color: rgba(255,255,255,.8);
    }
}
/* section */
.s1 {
    background-image: url('../img/bg1-s.jpg');
    background-size: cover;
    background-position: center;
}
.s1 .detail {
    text-align: center;
    position: absolute;
    left: 30%;
    width: 40%;
    bottom: 20%;
    color: #fff;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px #555;
    opacity: .5;
}
.s1 .detail h2 {
    font-size: 4rem;
    margin-bottom: 0px;
}
@media only screen and (max-width: 48em){
    .s1 .detail {
        text-align: center;
        position: absolute;
        left: 15%;
        width: 70%;
    }
}
@media only screen and (max-width: 30em) {
    .s1 .detail {
        bottom: 30%;
    }
    
    .s1 .detail h2 {
        font-size: 3.0rem;
    }
}
.s2 {
    background-image: url('../img/bg2.jpg');
    background-size: cover;
}
.s2 .detail {
    text-align: center;
    position: absolute;
    z-index: 2;
    left: 20%;
    width: 60%;
    top: 20%;
    font-size: 1.2rem;
    color: #444;
}
.s2 .detail h2 {
    font-size: 4rem;
    margin-bottom: 0px;
}
.s2 .img-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.s2 .img-box .blue {
    position: absolute;
    bottom: 0;
    width: 30%;
    margin-bottom: -20%;
    left: -50%;
}
.s2 .img-box .white {
    position: absolute;
    bottom: 0;
    margin-bottom: -20%;
    width: 30%;
    right:  -50%;
}
@media only screen and (max-width: 48em){
    .s2 .img-box .blue {
        margin-bottom: -10%;
    }
    .s2 .img-box .white {
        margin-bottom: -10%;
    }
}
@media only screen and (max-width: 30em){
    .s2 .img-box .blue {
        margin-bottom: 0%;
        width: 40%;
    }
    .s2 .img-box .white {
        margin-bottom: 0%;
        width: 40%;
    }
    .s2 .detail h2 {
        font-size: 2.6rem
    }
}
@media only screen and (orientation: landscape) and (max-width: 55em){
    .s2 .detail p {
        background-color: rgba(255,255,255,0.5);
        color: #111;
    }
}

.s3 {
    background-image: url('../img/bg3-xs.jpg');
    background-size: cover;
    background-position: center;
}
.s3 .detail {
    position: absolute;
    bottom: -100%;
    left: 15%;
    max-width: 350px;
    font-size: 1.2rem;
    color: #222;
}
.s3 .detail h2 {
    font-size: 3.6rem;
    margin-bottom: 0px;
}
@media only screen and (max-width: 30em){
    .s3 .detail {
        width: 70%;
        margin-bottom: 10%;
    }
    .s3 .detail h2 {
        font-size: 2.6rem;
    }
}

.s4 .detail{
    position: absolute;
    top: 20%;
    max-width: 400px;
    padding: 5rem;
    z-index: 2;
}

.s4 .detail p:nth-child(n+3){
    font-size: 2rem;
    line-height: 1;
    margin: 1rem 0;
    opacity: 1;
}

.s4 .detail p + p::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #222;
    margin-bottom: 1rem;
}

.s4 .detail h2 {
    font-size: 3.0rem;
    margin-bottom: 0px;
}

.s4 .screen  {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}
@media only screen and (max-width: 48em) {
    .s4 .detail{
        top: 15%;
    }
}
@media only screen and (max-width: 30em) {
    .s4 .detail {
        top: 0;
    }
    .s4 .detail h2 {
        font-size: 2.6rem;
    }
}
@media only screen and (orientation: landscape) and (max-width: 55em){
    .s4 .detail {
        top: 0%
    }
    .s4 .detail p:nth-child(n+3){
        font-size: 1.4rem;
    }
}

.s5 .detail {
    width: 80%; 
    max-width: 500px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 1.2rem;
}

.s5 .detail h2 {
    position: relative;
    left: 2000px;
    font-size: 3.0rem;
    margin-bottom: 0px; 
}
.s5 .detail p {
    position: relative;
    right: 2000px;
}
.s5 .img{
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../img/playgame.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
}
@media only screen and (max-width: 48em) {
    .s5 .img{
        top: 60%;
    }
}
@media only screen and (max-width: 48em) {
    .s5 .img{
        top: 70%;
    }
    .s5 .detail {
        margin: 0 auto;
        width: 80%;
    }
    .s5 .detail h2 {
        font-size: 2.6rem
    }
}
.s6 .img-box {
    position: relative;
    top: 8%;
    width: 70%;
}

.s6 .img-box .card {
    width: 74%;
}
.s6 .img-box .cc-a {
    position: absolute;
    left: 54%;
    bottom: 20%;
    width: 25%;
}
.s6 .detail {
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: 2;
    width: 40%;
    padding: 8rem;
    font-size: 1.2rem;
    text-align: center;
}
.s6 .detail h2 {
    font-size: 3.0rem;
    margin-bottom: 0;
    line-height: 1.2
}
@media only screen and (max-width: 48em){
    .s6 .img-box {
        width: 60%;
    }
}
@media only screen and (max-width: 30em){
    .s6 .img-box {
        width: 50%;
    }
    .s6 .detail {
        padding: 0;
        right: 10%;
        width: 80%;
        bottom: 30%;
        text-align: left;
    }
    .s6 .detail h2 {
        font-size: 2.6rem;
    }
}
@media only screen and (orientation: landscape) and (max-width: 55em){
    .s6 .detail  {
        bottom: -20%;
        width: 50%;
    }
}
.s7 {
    background-image: url(../img/bg7-s.jpg);
    background-position: center top;
    opacity: .2;
}

.s7 .detail {
    position: absolute;
    left: 10%;
    bottom: 10%;
    z-index: 2;
    width: 40%;
    padding: 8rem;
    font-size: 1.2rem;
    text-align: center;
}
.s7 .detail h2 {
    font-size: 3.0rem;
    margin-bottom: 0;
}
@media only screen and (max-width: 48em){
    .s7 .detail {
        width: 60%;
        padding: 0rem;
        bottom: 30%;
    }
}
@media only screen and (max-width: 30em){
    .s7 .detail {
        width: 75%;
        text-align: left;
    }
    .s7 .detail h2 {
        font-size: 2.6rem;
    }
}

@media only screen and (orientation: landscape) and (max-width: 55em){
    .s7 .detail  {
        width: 70%;
        bottom: 10%;
    }
}
.s8 {
    background-color: #3a90c9;
}

.s8 .img-box .bbb{
    position: absolute;
    bottom: 0;
    width: 60%;
}
.s8 .detail {
    position: absolute;
    right: 10%;
    bottom: 20%;
    z-index: 2;
    width: 40%;
    padding: 8rem;
    font-size: 1.4rem;
    text-align: center;
}
.s8 .detail p {
    position: relative;
    top: 1000px;
}
.s8 .detail h2 {
    position: relative;
    font-size: 3.0rem;
    margin-bottom: 0;
    bottom: 1000px;
}
@media only screen and (max-width: 48em){
    .s8 .detail {
        right: 20%;
        width: 60%;
        padding: 0;
        bottom: 30%;
    }
}
@media only screen and (max-width: 30em){
    .s8 .detail {
        right: 15%;
        width: 70%;
    }
    .s8 .detail h2 {
        font-size: 2.6rem;
    }
}
@media only screen and (orientation: landscape) and (max-width: 55em){
    .s8 .detail  {
        right: 10%;
    }
    .s8 .detail h2 {
        line-height: 1.2
    }
    .s8 .detail p {
        background-color: rgba(255,255,255,0.2)
    }
}
.s9 .detail {
    text-align: center;
    padding-top: 5rem;
}
.s9 .detail h2 {
    font-size: 3.0rem;
    margin-bottom: 0;
}
.s9 .img-box {
    position: absolute;
    top: 40%;
    padding-top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.s9 .p1 {
    position: absolute;
    left: 15%;
    width: 30%;
    margin-top: 10%;
}
.s9 .p2 {
    position: absolute;
    left: 35%;
    width: 30%;
}
.s9 .p3 {
    position: absolute;
    left: 55%;
    width: 30%;
    margin-top: 10%;
}
.s9 img:hover{
    transition: 1s;
    transform:scale(1.1);
    z-index: 1;
}
@media only screen and (max-width: 48em){
    .s9 .detail {
        width: 80%;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 30em){
    .s9 .detail h2 {
        font-size: 2.6rem
    }
    .s9 .img-box {
        top: 60%
    }
}
@media only screen and (orientation: landscape) and (max-width: 55em){
    .s9 .detail h2 {
        line-height: 1.2
    }
    .s9 .detail  {
       padding-top: 3rem;
    }
}
/*footer*/
.footer {
    background-color: #f5f5f5;
    height: 180px !important;
    padding-top: 1rem; 
}
.footer dl {
    float: left;
    width: 20%;
}
.footer dl dt {
    font-size: 1.2rem;
    text-indent: 4rem;
    font-weight: bold;
}
.footer dl a {
    color: #444;
    font-size: 1.2rem;
    text-decoration: none;
}
.footer .copyright {
    margin: 0;
    text-align: center;
}
@media only screen and (max-width: 30em){
    .footer dl {
        width: 30%;
    }
    .footer {
        height: 340px !important;
    }
}